<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>ZeeFlix</title>
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">

<link rel="stylesheet" href="/stylesheets/index.css" />

    
  </head>
  <body>
    
<header>
  <div class="collapse nav-index" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">ZeeFlix</h4>
          <p class="text-white">Welcome to ZeeFlix, the ultimate destination for all your movie needs. Our app is designed to provide you with an unparalleled movie experience, with a vast library of movies to choose from, ranging from the latest blockbusters to timeless classics.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="list-unstyled">
            <a class="btn btn-design-login" href="/login" role="button">Login</a>
            <a class="btn btn-design-signup" href="/register" role="button">Signup</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar nav-index navbar-dark nav-index shadow-sm">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <strong>ZeeFlix</strong>
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

  <!-- Homepage -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active " data-bs-interval="2000">
        <img src="/images/image1.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
          <h5 class="movie-text">ZeeFlix</h5>
          <p class="fs-1">Discover your new movie addiction</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="/images/image2.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
          <h5 class="movie-text">ZeeFlix</h5>
          <p class="fs-2">Looking for a new movie to watch? Try exploring a different genre than your usual go-to. You might discover a hidden gem that becomes your new favorite.</p>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="1000">
        <img src="/images/image3.webp" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-center">
          <h5 class="movie-text">ZeeFlix</h5>
          <p class="fs-1">Want to broaden your horizons? Check out movies from different countries or cultures. You might find that foreign films offer a unique perspective and storytelling style that you'll love.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  <!-- End -->
  <main>
    <div class="album py-5 bg-container">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
          <% movieList.forEach((movie) => { %>
            <div class="col mb-4">
              <div class="card shadow-sm h-100">
                <img src=<%= movie.image %> class="card-img-top"/>
                <div class="card-body">
                  <h5 class="card-title"><%= movie.title%></h5>
                  <div class="card-text-wrapper">
                    <p class="card-text"><%= movie.description%></p>
                  </div>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group mt-3">
                      <button type="button" class="btn btn-sm btn-design-price">Price</button>
                      <button type="button" class="btn btn-sm btn-design-price">₦<%= movie.price %></button>
                    </div>
                    <small class=" mt-3 text-muted">
                      <% let timeDiff = new Date() - new Date(movie.updatedAt); %>
                      <% let timeAgo; %>
                      <% if (timeDiff < 60000) { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 1000))} seconds ago`; %>
                      <% } else if (timeDiff < 3600000) { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 60000))} minutes ago`; %>
                      <% } else if (timeDiff < 86400000) { // If less than 24 hours %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 3600000))} hours ago`; %>
                      <% } else if (timeDiff < 2592000000) { // If less than a month %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 86400000))} days ago`; %>
                      <% } else { %>
                        <% timeAgo = `${Math.floor(Math.abs(timeDiff / 2592000000))} months ago`; %>
                      <% } %>
                      <%= timeAgo %>
                    </small>
                  </div>
                </div>
              </div>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </main>
  

<footer class=" text-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">© 2023 ZeeFlix by Tobe</p>
      </div>
      <div class="col-md-6">
        <p class="text-end mb-0"><a href="#" class="text-light">Back to top</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
      
  </body>
</html>